asgiref
boto3
botocore
Django
django-cors-headers
django-storages
jmespath
mysqlclient
Pillow
PyMySQL
python-dateutil
s3transfer
six
sqlparse
tzdata
urllib3

dj-database-url
django-environ
gunicorn
packaging
psycopg2
psycopg2-binary
typing_extensions

